@{
    Layout = null;
}
@using CMS.Domain
@using Webdiyer.WebControls.Mvc
@model PagedList<PagerInfo>
<!DOCTYPE html>
<html>
<head>
    <title>选择分页设置信息</title>
    <link href="@Url.Content("~/Content/css/admin_theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="/Content/css/table.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="box" style="background-color:#fff;">
    <table width="100%">
		<thead>
			<tr style="height:22px;">
                <th width="40px"><a href="#">ID</a></th>
                <th width="280px"><a href="javascript:void(0);">数据类型</a></th>
                <th width="150px"><a href="javascript:void(0);">每页条数</a></th>
                <th><a href="javascript:void(0);">创建时间</a></th>
                <th width="50px"><a href="javascript:void(0);">选择</a></th>
            </tr>
		</thead>
		<tbody>
        @foreach (PagerInfo item in Model)
        { 
			<tr>
                <td class="a-center">@item.PageID</td>
                <td><a href="javascript:void(0);">@item.PagerName</a></td>
                <td>@item.PageSize</td>
                <td>@item.AddDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td><a href="javascript:void(0);" onclick="SelPagerSet('@item.PageID','@item.DataTypeName');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
        }
		</tbody>
	</table>
    <div id="pager">@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "PageIndex", NumericPagerItemCount = 10 })</div>
</div>
<script language="javascript" type="text/javascript">
    function SelPagerSet(vartag,vartagname) {
        window.parent.SetPagerSet(vartag, vartagname);
        window.parent.CloseSelPagerSet();
    }
</script>
</body>
</html>
