@{
    ViewBag.Title = "修改专题";
}
@model CMS.Domain.SpecialInfo
@section submenu{
    <ul>
        <li><h3><a href="@Url.Action("Index", "Special")" class="house">专题管理</a></h3>
         <ul>
                <li><a href="@Url.Action("Add", "Special")">新建专题</a></li>
            </ul>
        </li>
	</ul>  
}
<div id="content">
    <div id="box">
        <h3>修改专题</h3>
        @using (Html.BeginForm("EditHandler", "Special", FormMethod.Post, new Dictionary<string, object>() { { "id", "frmEditSpecial" } }))
        {
           <table width='100%' align="center" cellpadding="3" cellspacing="1" class="tableborder">
        <tr>
            <th align="right" width="80">
                专题名称：
            </th>
            <td>
                @Html.TextBoxFor(m => m.Name, new Dictionary<string, object>() { { "id", "txtName" }, { "name", "Name" }, { "class", "input-txt" } })
            </td>
        </tr>
        <tr>
            <th align="right">
                英文名称：
            </th>
            <td>
                @Html.TextBoxFor(m => m.EnName, new Dictionary<string, object>() { { "id", "txtEnName" }, { "name", "EnName" }, { "class", "input-txt" } }) (作为专题的访问路径)
            </td>
        </tr>
        <tr>
            <td height="25" align="right">Url部分：</td>
            <td> @Html.TextBoxFor(m => m.SpecialUrlPart, new Dictionary<string, object>() { { "id", "txtSpecialUrlPart" }, { "name", "SpecialUrlPart" }, { "class", "input-txt" } })</td>
        </tr>
        <tr>
            <td height="25" align="right">标 题 图：</td>
            <td> @Html.TextBoxFor(m => m.PicUrl, new Dictionary<string, object>() { { "id", "txtPicUrl" }, { "name", "PicUrl" }, { "class", "input-txt" } })<a id="aSelBigImg" title="选择已上传的图片" href="javascript:void(0);"><img src="/content/img/changeimg.gif" alt="选择图片" border="0" align="absbottom"/></a></td>
        </tr>
        <tr>
            <td height="25" align="right">缩 略 图：</td>
            <td> @Html.TextBoxFor(m => m.SmallPicUrl, new Dictionary<string, object>() { { "id", "txtSmallPicUrl" }, { "name", "SmallPicUrl" }, { "class", "input-txt" } })<a id="aSelSmallImg" title="选择已上传的图片" href="javascript:void(0);"><img src="/content/img/changeimg.gif" alt="选择图片" border="0" align="absbottom"/></a></td>
        </tr>
        <tr>
            <th align="right">
                关 键 字：
            </th>
            <td>
                @Html.TextBoxFor(m => m.Keyword, new Dictionary<string, object>() { { "id", "txtKeyword" }, { "name", "Keyword" }, { "class", "input-txt" } })
            </td>
        </tr>
        <tr>
            <th align="right">
                描    述：
            </th>
            <td>
                @Html.TextAreaFor(m => m.Description, new Dictionary<string, object>() { { "id", "txtDescription" }, { "name", "Description" }, { "cols", "30" }, { "rows", "6" } })
            </td>
        </tr>
        <tr>
                <td height="25" align="right">排    序：</td>
                <td>@Html.TextBoxFor(m => m.Sort, new Dictionary<string, object>() { { "id", "txtSort" }, { "name", "Sort" }, { "class", "input-txt" } })</td>
            </tr>
        <tr>
            <td align="right">专题模板：<input type="hidden" id="hiddenTemplateID" name="TemplateID" value="@Model.TemplateID"/></td>
            <td><input type="text" id="txtTemplateName" name="txtTemplateName" value="@Model.TemplateName" class="input-txt"/>&nbsp;<img src="/content/img/icons/select.png" style="vertical-align:middle;height:20px;cursor:pointer" id="selTemplate" title="选择模板" alt="选择模板" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" id="btnSave">保存</button>
                <button type="reset">重置</button><input type="hidden" id="hiddenSpecialID" name="ID" value="@Model.ID" />
            </td>
        </tr>
        </table>
        }
    </div>
</div>
<script type="text/javascript" src="/scripts/jquery.form.js"></script>
<script type="text/javascript" src="/scripts/page/page.common.js"></script>
<script type="text/javascript" src="/scripts/uploadimg.js"></script>
<script type="text/javascript" language="javascript">
    var SpecialID = '@Model.ID';
    jQuery(document).ready(function () {
        if (SpecialID == 0) {
            alert("提示：请选择要修改的专题");
            window.location.href = "/special";
        }
        // 选择模板
        $('#selTemplate').click(function () {
            var common = new CommonPage();
            common.SelTemplate(4);
        });
        UploadImgDialog('aSelBigImg', 'txtPicUrl');
        UploadImgDialog('aSelSmallImg', 'txtSmallPicUrl');
        $("#btnSave").click(function () {
            var options = {
                beforeSubmit: function () {
                },
                success: function (data) {
                    var jsonObj = eval('(' + data + ')');
                    if (jsonObj.result == 'ok') {
                        alert('修改专题成功');
                        window.location.href = "/special";
                    }
                    else {
                        alert(jsonObj.msg);
                    }
                },
                url: "/special/edithandler/",
                type: "post",
                resetForm: false,
                dataType: "json"
            };
            $("#frmEditSpecial").ajaxSubmit(options);
        });
    });
    function SetTemplateValue(tid, tname) {
        $("#hiddenTemplateID").val(tid);
        $("#txtTemplateName").val(tname);
    }

    function CloseSelTemplate() {
        $('#divSelTemplateVar').dialog('close');
    }
</script>
