@{
    ViewBag.Title = "专题管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CMS.Domain
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<SpecialInfo>
                                             <link href="/Content/css/table.css" rel="stylesheet" type="text/css" />
@section submenu{
    <ul>
        <li><h3><a href="@Url.Action("Index", "Special")" class="house">专题管理</a></h3>
            <ul>
                <li><a href="@Url.Action("Add", "Special")">新建专题</a></li>
            </ul>
        </li>
	</ul>  
}
<div id="content">
    <div id="box">
        <h3>专题管理</h3>
        <table width="100%">
			<thead>
				<tr>
                    <th width="40px"><a href="javascript:void(0);">专题ID</a></th>
                    <th width="190px"><a href="javascript:void(0);">专题名称</a></th>
                    <th width="60px"><a href="javascript:void(0);">英文名称</a></th>
                    <th width="100px"><a href="javascript:void(0);">Url部分</a></th>
                    <th width="160px"><a href="javascript:void(0);">添加时间</a></th>
                    <th width="80px"><a href="javascript:void(0);">操作</a></th>
                </tr>
			</thead>
			<tbody> 
            @foreach (SpecialInfo item in Model)
           { 
				<tr>
                    <td class="a-center">@item.ID</td>
                    <td><a href="#">@item.Name</a></td>
                    <td>@item.EnName</td>
                    <td>@item.SpecialUrlPart</td>
                    <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td align="center">
                    <a href="javascript:void(0);" onclick="SetChannel(@item.ID);"><img src="@Url.Content("~/Content/img/icons/chart_organisation_add.png")" title="设置专题栏目" alt="设置专题栏目" width="16" height="16" /></a>                    
                    <a href="/special/edit/?SpecialID=@item.ID"><img src="@Url.Content("~/Content/img/icons/page_white_edit.png")" title="修改专题" alt="修改专题" width="16" height="16" /></a>
                    <a href="javascript:void(0);" onclick="DeleteSpecial('@item.ID');"><img src="@Url.Content("~/Content/img/icons/page_white_delete.png")" title="删除专题" alt="删除专题" width="16" height="16" /></a>
                    </td>
                </tr>
           }
			</tbody>
		</table>
        <div id="pager">@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "PageIndex",NumericPagerItemCount=10})</div>
    </div>
</div>
<script src="/Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
<link href="/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css"/>
<link href="/Content/themes/base/jquery.ui.dialog.css" rel="stylesheet" type="text/css"/>
<script language="javascript" type="text/javascript">
    function DeleteSpecial(specialID) {
        if (confirm('您确认要删除该专题吗？')) {
            $.ajax({
                type: 'POST',
                url: '/special/delete/',
                data: { ID: specialID },
                cache: false,
                success: function (data) {
                    data = eval('(' + data + ')');
                    if (data.result == "ok") {
                        window.location.reload();
                    }
                    else {
                        alert(data.msg);
                    }
                },
                error: function (xhr) {
                    throw new Error('数据源访问错误' + '\n' + xhr.responseText);
                }
            })
        }
    }

    // 设置专题栏目
    function SetChannel(SpecialID) {
        var $dialog = null;
        var pagetitle = "设置专题栏目"
        var page = '/Special/SpecialChannel/?SpecialID=' + SpecialID;
        if ($("#divSetSpecialChannel").length == 0) {
            $dialog = $('<div id="divSetSpecialChannel"></div>')
        }
        else {
            $dialog = $('#divSetSpecialChannel')
        }
        $dialog.html('<iframe style="border:0px;" src="' + page + '" width="100%" height="100%"></iframe>')
                .dialog({
                    autoOpen: false,
                    modal: true,
                    height: 520,
                    width: 560,
                    title: pagetitle
                });
            $dialog.dialog('open');
    }
</script>