@{
    ViewBag.Title = "推荐内容管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CMS.Domain
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<RecommedInfoList>
<link href="/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css"/>
<link href="/Content/themes/base/jquery.ui.dialog.css" rel="stylesheet" type="text/css"/>
@section submenu{
    <ul>
        <li><h3><a href="@Url.Action("Index", "Position")" class="house">推荐位置管理</a></h3></li>
	</ul>  
}
<div id="content">
    <div id="box">
        <h3>[@ViewData["PositionName"]]：推荐内容管理</h3>
        <div style="margin:5px;"><a href="javascript:void(0);" id="aAddContent"><img src="@Url.Content("~/Content/img/icons/add.png")" style="vertical-align:middle;" width="16" height="16" align="middle" />添加推荐内容</a></div>
        <table width="100%">
			<thead>
				<tr style="height:22px;">
                    <th width="40px"><a href="#">ID</a></th>
                    <th><a href="javascript:void(0);">标题</a></th>
                    <th><a href="javascript:void(0);">排序</a></th>
                    <th width="120px"><a href="javascript:void(0);">创建时间</a></th>
                    <th width="60px"><a href="javascript:void(0);">操作</a></th>
                </tr>
			</thead>
			<tbody>
            @foreach (RecommedInfoList item in Model)
            { 
				<tr>
                    <td class="a-center">@item.ID</td>
                    <td><a href="@item.LinkUrl" target="_blank">@item.Title</a></td>
                    <td>@item.SortID</td>
                    <td>@item.CreateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td align="center">
                    <a href="javascript:void(0);" onclick="EditInit('@item.ID');"><img src="@Url.Content("~/Content/img/edit.png")" alt="修改推荐内容" title="修改推荐内容" width="16" height="16" />
                    </a>
                    <a href="javascript:void(0);" onclick="DelRecommend('@item.ID');"><img src="@Url.Content("~/Content/img/cancel.png")" alt="删除推荐内容" title="删除推荐内容" width="16" height="16" />
                    </a>
                    </td>
                </tr>
            }
			</tbody>
		</table>
        <div id="pager">@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "PageIndex",NumericPagerItemCount=10})</div>
    </div>
</div>

<div id="divDialog" style="display:none;">
       <form id="frmRecommend" method="post" action="">
    <table width="100%">
        <tbody>
			<tr>
                <td class="a-right" style="width:80px;">标题：</td>
                <td>@Html.TextBoxFor(m => m[0].Title, new Dictionary<string, object>() { { "id", "txtTitle" }, { "name", "Title" },{ "class", "inputlen" }, { "tabindex", "1" } })</td>
                <td style="width:100px;">@Html.ValidationMessageFor(m => m[0].Title)</td>
            </tr>
            <tr>
                <td class="a-right" style="width:80px;">链接：</td>
                <td>@Html.TextBoxFor(m => m[0].LinkUrl, new Dictionary<string, object>() { { "id", "txtLinkurl" }, { "name", "LinkUrl" }, { "class", "inputlen" }, { "tabindex", "2" } })</td>
                <td style="width:100px;">@Html.ValidationMessageFor(m => m[0].LinkUrl)</td>
            </tr>
            <tr id="trSmallPicUrl" style="display:none;">
                <td class="a-right" style="width:80px;">小图：</td>
                <td>@Html.TextBoxFor(m => m[0].SmallPicUrl, new Dictionary<string, object>() { { "id", "txtSmallPicUrl" }, { "name", "SmallPicUrl" }, { "class", "inputlen" }, { "tabindex", "3" } })</td>
                <td style="width:100px;"><a id="aSelSmallImg" title="选择已上传的图片" href="javascript:void(0);"><img src="/content/img/changeimg.gif" alt="选择图片" border="0" align="absbottom"/></a></td>
            </tr>
            <tr id="trBigPicUrl" style="display:none;">
                <td class="a-right" style="width:80px;">大图：</td>
                <td>@Html.TextBoxFor(m => m[0].BigPicUrl, new Dictionary<string, object>() { { "id", "txtBigPicUrl" }, { "name", "BigPicUrl" }, { "class", "inputlen" }, { "tabindex", "4" } })</td>
                <td style="width:100px;"><a id="aSelBigImg" title="选择已上传的图片" href="javascript:void(0);"><img src="/content/img/changeimg.gif" alt="选择图片" border="0" align="absbottom"/></a></td>
            </tr>
            <tr>
                <td class="a-right">简介：</td>
                <td>@Html.TextAreaFor(m => m[0].Summary, new Dictionary<string, object>() { { "id", "txtSummary" }, { "name", "Summary" }, { "cols", "26" }, { "rows", "5" }, { "tabindex", "5" } })</td>
                <td></td>
            </tr>
             <tr>
                <td class="a-right" style="width:80px;">排序：</td>
                <td>@Html.TextBoxFor(m => m[0].SortID, new Dictionary<string, object>() { { "id", "txtSortID" }, { "name", "SortID" }, { "class", "inputlen" }, { "tabindex", "6" } })</td>
                <td style="width:100px;">@Html.ValidationMessageFor(m => m[0].SortID)</td>
            </tr>
		</tbody>
    </table>
   </form>
</div>
<script type="text/javascript">
    var PositionID = '@ViewData["PositionID"]';
    var PositionType = '@ViewData["PositionType"]';
</script>
<script src="/Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/scripts/uploadimg.js"></script>
<script src="/Scripts/page/recommend.page.js" type="text/javascript"></script>