@{
    Layout = null;
}
@using CMS.Domain
@model CMS.AdminUI.Models.UserPageModel
<!DOCTYPE html>
<html>
<head>
    <title>用户选择</title>
    <link href="@Url.Content("~/Content/css/admin_theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="box">
        <table width="100%" style="background-color:#fff;">
			<thead>
				<tr style="height:22px;">
                    <th width="60px"><a href="#">用户ID</a></th>
                    <th><a href="javascript:void(0);">用户名</a></th>
                    <th><a href="javascript:void(0);">真实姓名</a></th>
                    <th width="70px"><a href="javascript:void(0);">部门</a></th>
                    <th width="120px"><a href="javascript:void(0);">创建时间</a></th>
                    <th width="60px"><a href="javascript:void(0);">选择</a></th>
                </tr>
			</thead>
			<tbody>
            @foreach (UserInfo item in Model.PageList)
            { 
				<tr>
                    <td class="a-center">@item.ID</td>
                    <td><a href="javascript:void(0);">@item.UserName</a></td>
                    <td>@item.RealName</td>
                    <td>@item.Department</td>
                    <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td><a href="javascript:void(0);" onclick="SelSystemUser('@item.ID','@item.UserName');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <script language="javascript" type="text/javascript">
        function SelSystemUser(UserID,UserName) {
            window.parent.AddUserToRole(UserID, UserName);
            window.parent.CloseSystemUser();
        }
    </script>
</body>
</html>
