@{
    Layout = null;
}
@using CMS.Domain
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<CMS.Domain.DataBlock>
<!DOCTYPE html>
<html>
<head>
    <title>选择数据块</title>
    <link href="@Url.Content("~/Content/css/admin_theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="/Content/css/table.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="box" style="background-color:#fff;">
    <div style="margin: 5px 0px 5px 0px;">说明：变量格式：${D?-T?-C?-R?}，第一个?开始依次表示：数据块ID、模板ID、栏目ID(或位置ID)、记录条数</div>
    <table width="100%">
		<thead>
			<tr style="height:22px;">
                <th width="40px"><a href="#">ID</a></th>
                <th width="150px"><a href="javascript:void(0);">名称</a></th>
                <th width="200px"><a href="javascript:void(0);">说明</a></th>
                <th><a href="javascript:void(0);">创建时间</a></th>
                <th width="50px"><a href="javascript:void(0);">选择</a></th>
            </tr>
		</thead>
		<tbody>
        @foreach (DataBlock item in Model)
        { 
			<tr>
                <td class="a-center">@item.ID</td>
                <td><a href="javascript:void(0);">@item.BlockName</a></td>
                <td>@item.Note</td>
                <td>@item.AddDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td><a href="javascript:void(0);" onclick="SelVar('${D@{@item.ID}}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
        }
		</tbody>
	</table>
    <div id="pager">@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "PageIndex", NumericPagerItemCount = 10 })</div>
</div>
<script language="javascript" type="text/javascript">
    function SelVar(vartag) {
        window.parent.SetDatBlockValue(vartag);
        window.parent.CloseSelDataBlock();
    }
</script>
</body>
</html>
