@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>选择模板</title>
    <link href="@Url.Content("~/Content/css/admin_theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="/Content/css/table.css" rel="stylesheet" type="text/css" />
</head>
<body>
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<CMS.Domain.TemplateInfo>
<div id="box" style="background-color:#fff;">
    <h3>选择模板</h3>
    <table width="100%">
		<thead>
			<tr style="height:22px;">
                <th width="50px"><a href="javascript:void(0);">模板ID</a></th>
                <th width="200px"><a href="javascript:void(0);">模板名称</a></th>
                <th width="100px"><a href="javascript:void(0);">模板类型</a></th>
                <th width="100px"><a href="javascript:void(0);">模板状态</a></th>
                <th><a href="javascript:void(0);">创建时间</a></th>
                <th width="60px"><a href="javascript:void(0);">操作</a></th>
            </tr>
		</thead>
		<tbody>
        @if (Model != null)
        {
            foreach (CMS.Domain.TemplateInfo item in Model)
            {
			<tr>
                <td class="a-center">@item.ID</td>
                <td><a href="#">@item.Name</a></td>
                <td align="center">@item.TypeName</td>
                <td align="center">@item.StatusName</td>
                <td align="center">@item.CreateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td><a href="javascript:void(0);" onclick="SelVar('@item.ID','@item.Name');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            }
        }
		</tbody>
	</table>
    <div id="pager">@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "PageIndex",NumericPagerItemCount=10})</div>
    <script language="javascript" type="text/javascript">
        function SelVar(varid,varname) {
            window.parent.SetTemplateValue(varid, varname,@ViewData["TemplateType"]);
            window.parent.CloseSelTemplate();
        }
</script>
</div>