@{
    ViewBag.Title = "详细信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS.Domain.Resume
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easyui.min.js")"></script>
<link type="text/css" href="../../Content/css/styletable.css" rel="stylesheet" />
@section submenu{
    <ul>
        <li><h3><a href="#" class="house">招聘管理</a></h3>
            <ul>
             <li id="rim"><a href="#" class="manage">应聘信息管理</a>
                    <ul>
                    <li><a href="@Url.Action("Index", "Job")" class="report" style="">全部信息</a></li>
                    <li><a href="/job/index/15" class="report" style="">自荐类型</a></li>
                    </ul>
                </li>
              <li><a href="@Url.Action("Recruitment", "Job")" class="report">招聘信息管理</a></li>
                <li><a href="@Url.Action("Position", "Job")" class="report">发布招聘信息</a></li>
                <li><a href="@Url.Action("JobTypeList", "Job")" class="report">职位类型管理</a></li> 
            </ul>
        </li>
	</ul>  
}

<div id="content">
    <div id="box">
        <h3>详细信息</h3>
        <div style="margin:15px;">
        <table width="100%">
            <tr><td style="width:70px;" align="right">职位名称：</td><td>@Model.JobInfomation.Name,</td>
            </tr>

            <tr><td align="right">姓名：</td><td>@Model.Name</td>
            </tr>

            <tr><td align="right">应聘时间：</td><td>@Model.CreateTime</td>
            </tr>

            <tr><td align="right">移动电话：</td><td>@Model.Mobile</td>
            </tr>

            <tr><td align="right">固定电话：</td><td>@Model.Telphone</td>
            </tr>

            <tr><td align="right">自述内容：</td><td><p>@Model.Text</p></td>
            </tr>

            <tr><td align="right">状态：</td><td>@{
                switch(Model.Status)
                {
                    case 1:
                        <span>未处理</span>
                        break;
                        case 2:
                        <span>通过审核</span>
                        break;
                        case 3:
                        <span>未通过审核</span>
                        break;
                        case 4:
                        <span>已发通知</span>
                        break;
                        case 5:
                        <span>已通知负责人</span>
                        break;
                }
            }</td>
            </tr>

            <tr><td align="right">负责人:</td><td>@Model.JobInfomation.ChiefMail</td>
            </tr>

            <tr><td align="right">简历：</td><td><a href="@ViewData["weburl"]@{@Model.FileID}.doc">下载</a></td>
            </tr>

            <tr><td align="center" colspan="2"><input type="button" onclick="javascript:SendMailInit(2,@Model.JobInfomation.ChiefMail,@Model.JobInfomation.ChiefMail,@Model.ID);" value="通知负责人" /></td>
            </tr>
        </table>
          </div>
    </div>
</div>

<div id="MailDialog" style="display:none; width:400px;">
       <table>
       <tr><td align="right">收信人：</td><td>
       <input type="text" name="receive" id="receive" value="@Model.JobInfomation.ChiefMail" />&nbsp;&nbsp;<span id="receiveMsg"></span>
       </td></tr>
        <tr><td align="right">Email：</td><td>
       <input type="text" name="receive" id="receiveEmail" value="@Model.JobInfomation.ChiefMail" />&nbsp;&nbsp;<span id="receiveMsg"></span>
       </td></tr>
       <tr><td align="right">主题：</td><td>
       <input type="text" name="title" id="title" />&nbsp;&nbsp;<span id="titleMsg"></span>
       </td></tr>

       <tr><td align="right">内容：</td><td>
       <textarea cols="30" rows="15" name="MailContent" id="MailContent" ></textarea>&nbsp;&nbsp;<span id="contentMsg"></span>
       </td></tr>
       </table>
</div>
<script type="text/javascript" src="../../Scripts/page/Job.detail.js"></script>
<script type="text/javascript" src="../../Scripts/page/job.nav.js"></script>
