@{
    ViewBag.Title = "招聘管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="/Content/css/table.css" rel="stylesheet" type="text/css" />*@
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easyui.min.js")"></script>
<script type="text/javascript" src="../../Scripts/datagrid-detailview.js"></script>
<script type="text/javascript" src="../../Scripts/page/Job.js"></script>
<script type="text/javascript" src="../../Scripts/page/job.nav.js"></script>

@section submenu{
   <ul>
        <li><h3><a href="#" class="house">招聘管理</a></h3>
            <ul>
             <li id="rim"><a href="#" class="manage">应聘信息管理</a>
                    <ul>
                    <li><a href="@Url.Action("Index", "Job")" class="report" style="">全部信息</a></li>
                    <li><a href="/job/index/15" class="report" style="">自荐类型</a></li>
                    </ul>
                </li>
              <li><a href="@Url.Action("Recruitment", "Job")" class="report">招聘信息管理</a></li>
                <li><a href="@Url.Action("Position", "Job")" class="report">发布招聘信息</a></li>
                <li><a href="@Url.Action("JobTypeList", "Job")" class="report">职位类型管理</a></li> 
            </ul>
        </li>
	</ul>
}
<div id="content">
    <div id="box">
        <h3>应聘信息管理</h3>
        <table width="100%">
              <tr><td>
           <table id="fileList"></table>
           </td></tr>
        </table>
</div>
</div>
<script type="text/javascript">
    var pid =@ViewData["pid"];
</script>
<div id="divDialog" style="display:none; width:300px; height:150px;">
     <div style=" margin:15px; text-align:center;">
     <input type="radio" value="2" name="audit" />审核通过&nbsp;&nbsp;&nbsp;     
     <input type="radio" value="3" name="audit" />审核不通过
     </div>
</div>

<div id="MailDialog" style="display:none; width:400px;">
       <table>
       <tr><td align="right">收信人：</td><td>
       <input type="text" name="receive" id="receive" readonly="readonly" />&nbsp;&nbsp;<span id="receiveMsg"></span>
       </td></tr>
        <tr><td align="right">Email：</td><td>
       <input type="text" name="receive" id="receiveEmail" readonly="readonly" />&nbsp;&nbsp;<span id="receiveMsg"></span>
       </td></tr>
       <tr><td align="right">主题：</td><td>
       <input type="text" name="title" id="title" />&nbsp;&nbsp;<span id="titleMsg"></span>
       </td></tr>

       <tr><td align="right">内容：</td><td>
       <textarea cols="30" rows="15" name="MailContent" id="MailContent" ></textarea>&nbsp;&nbsp;<span id="contentMsg"></span>
       </td></tr>
       </table>
</div>