@{
    ViewBag.Title = "发布招聘信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS.Domain.JobInfo
<link type="text/css" href="../../Content/css/styletable.css" rel="stylesheet" />

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easyui.min.js")"></script>
<script type="text/javascript" src="../../Scripts/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Scripts/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="../../Scripts/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="../../Scripts/page/job.nav.js"></script>

@section submenu{
    <ul>
        <li><h3><a href="#" class="house">招聘管理</a></h3>
            <ul>
             <li id="rim"><a href="#" class="manage">应聘信息管理</a>
                    <ul >
                    <li><a href="@Url.Action("Index", "Job")" class="report" style="">全部信息</a></li>
                    <li><a href="/job/index/15" class="report" style="">自荐类型</a></li>
                    </ul>
                </li>
              <li><a href="@Url.Action("Recruitment", "Job")" class="report">招聘信息管理</a></li>
                <li><a href="@Url.Action("Position", "Job")" class="report">发布招聘信息</a></li>
                <li><a href="@Url.Action("JobTypeList", "Job")" class="report">职位类型管理</a></li> 
            </ul>
        </li>
	</ul>
}
<div id="content">
    <div id="box">
        <h3>发布招聘信息</h3>
        @using (Html.BeginForm("Position","Job",FormMethod.Post,new Dictionary<string,object>(){{"id","frmEdit"}}))
        {
             @Html.HiddenFor(m => m.ID, new Dictionary<string, object>() { { "id", "ID" }, { "name", "ID" } });
       <table>
       <tr><td>职位类型：</td><td>@Html.DropDownList("jobType", ViewData["list"] as IEnumerable<SelectListItem>)</td></tr>
       <tr><td>工作地点：</td><td>@Html.TextBoxFor(m => m.Place, new Dictionary<string, object>() { { "id", "place" }, { "name", "place" }, { "size", "60" }, { "class", "" } })
       &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.Place)
       </td></tr>
       <tr><td>职位名称：</td><td>@Html.TextBoxFor(m => m.Name, new Dictionary<string, object>() { { "id", "name" }, { "name", "name" }, { "size", "60" }, { "class", "" } })
       &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.Name)
       </td></tr>
       <tr><td>招聘人数：</td><td>@Html.TextBoxFor(m => m.EmployeeNumber, new Dictionary<string, object>() { { "id", "employeenumber" }, { "name", "employeenumber" }, { "size", "60" }, { "class", "" } })
       &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.EmployeeNumber)
       </td></tr>
       <tr><td>职位要求：</td><td>@Html.TextArea("Jobdescription", Model.JobDescription, new Dictionary<string, object>() { { "id", "jobdescription" }, { "cols", "70" }, { "rows", "20" } })
       &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.JobDescription)
       </td></tr>
       <tr><td>岗位职责：</td><td>@Html.TextAreaFor(m => m.Responsbility, new Dictionary<string, object>() { { "id", "responsbility" }, { "name", "Responsbility" }, { "cols", "70" }, { "rows", "20" }})
       &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.Responsbility)
       </td></tr>
       <tr><td>结束时间：</td><td>@Html.TextBoxFor(m => m.EndDate, new Dictionary<string, object>() { { "id", "enddate" }, { "name", "enddate" }, { "size", "60" }, { "class", "easyui-datebox" }, { "Value", Model.EndDate.ToString("yyyy-MM-dd") } })
          &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.EndDate)
       </td></tr>
        <tr><td>负责人Email：</td><td>@Html.TextBoxFor(m => m.ChiefMail, new Dictionary<string, object>() { { "id", "chiefmail" }, { "name", "chiefmail" }, { "size", "60" } })
          &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.ChiefMail)
       </td></tr>
       <tr><td>招聘状态：</td><td><select name="status">
       <option value="1">未发布</option>
       <option value="2">招聘中</option>
       <option value="3">已结束</option>
       </select>
       </td></tr>
        <tr align="center"><td colspan="2"> <input id="addJob" type="submit" value="提交" /> &nbsp;&nbsp;@ViewData["message"]</td></tr>
     
       
       </table>
        }
</div>
</div>
<script language="javascript" type="text/javascript">
    $(function () {
        $('#enddate').datebox();
    })
    var editor;
    var ditor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="Jobdescription"]', {
            resizeType: 1,
            allowPreviewEmoticons: false,
            allowImageUpload: false,
            items: [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
        ditor = K.create('textarea[name="Responsbility"]', {
            resizeType: 1,
            allowPreviewEmoticons: false,
            allowImageUpload: false,
            items: [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
    });
</script>