@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>全局变量选择</title>
    <link href="@Url.Content("~/Content/css/admin_theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="box">
        <table width="100%" style="background-color:#fff;">
			<thead>
				<tr style="height:22px;">
                    <th width="80px"><a href="#">变量名称</a></th>
                    <th width="100px"><a href="javascript:void(0);">变量</a></th>
                    <th width="300px"><a href="javascript:void(0);">说明</a></th>
                    <th width="80px"><a href="javascript:void(0);">操作</a></th>
                </tr>
			</thead>
			<tbody>
            <tr>
                <td>系统日期</td>
                <td>${SystemDate}</td>
                <td>系统日期，例如：2011-09-09</td>
                <td><a href="javascript:void(0);" onclick="SelVar('${SystemDate}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            <tr>
                <td>系统时间</td>
                <td>${SystemTime}</td>
                <td>系统时间，例如：2011-09-09 19:56</td>
                <td><a href="javascript:void(0);" onclick="SelVar('${SystemTime}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            <tr>
                <td>栏目ID</td>
                <td>${ChannelID}</td>
                <td></td>
                <td><a href="javascript:void(0);" onclick="SelVar('${ChannelID}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            <tr>
                <td>栏目名称</td>
                <td>${ChannelName}</td>
                <td></td>
                <td><a href="javascript:void(0);" onclick="SelVar('${ChannelName}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            <tr>
                <td>当前员工ID</td>
                <td>${CurUserID}</td>
                <td>当前登录人的用户ID</td>
                <td><a href="javascript:void(0);" onclick="SelVar('${CurUserID}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            <tr>
                <td>当前员工姓名</td>
                <td>${CurUserName}</td>
                <td>当前登录人的用户名</td>
                <td><a href="javascript:void(0);" onclick="SelVar('${CurUserName}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            <tr>
                <td valign="top">栏目导航</td>
                <td valign="top">${Nav?-T?}</td>
                <td>第一个“?”代表栏目ID，第二个“?”代表模板ID，该标签会自动提取指定栏目的同级栏目数据并使用指定的模板进行解析呈现。</td>
                <td valign="top"><a href="javascript:void(0);" onclick="SelVar('${Nav?-T?}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            <tr>
                <td valign="top">二级树形栏目导航</td>
                <td valign="top">${SecondNav?-T?}</td>
                <td>第一个“?”代表栏目ID，第二个“?”代表模板ID，该标签会自动提取指定栏目的同级栏目数据并使用指定的模板进行解析呈现。</td>
                <td valign="top"><a href="javascript:void(0);" onclick="SelVar('${SecondNav?-T?}');"><img src="@Url.Content("~/Content/img/icons/arrow_right.gif")" title="选择" alt="选择" width="16" height="16" />选择</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script language="javascript" type="text/javascript">
        function SelVar(vartag) {
            window.parent.SetSystemVarValue(vartag);
            window.parent.CloseSelSystemVar();
        }
    </script>
</body>
</html>
