@{
    ViewBag.Title = "菜品管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model PagedList<CMS.Domain.NewsDoc>
<link href="/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
                    <link href="/Content/css/table.css" rel="stylesheet" type="text/css" />
    @section submenu{
        <ul>
            <li>
                <h3><a href="@Url.Action("Index", "News")" class="house">菜品管理</a></h3>
                <ul>
                    <li><a href="@Url.Action("Post", "News")" class="pagenew">新增信息</a></li>
                    @*<li><a href="@Url.Action("Recycle", "News")">回收站</a></li>*@
                </ul>
            </li>
        </ul>
    }
    <div id="content">
        <div id="box">
            <h3>菜品管理</h3>
            <div style="margin:5px;">
                <form id="frmSearch" method="post" action="/news/">
                    <table width="100%">
                        <tr>
                            <td style="width:80px;text-align:right;">菜品ID：</td>
                            <td><input type="text" name="ID" id="txtID" value="" /></td>
                            <td style="width:80px;text-align:right;">菜品标题：</td>
                            <td><input type="text" name="Title" id="txtTitle" value="" /></td>
                            <td style="width:80px;text-align:right;">所属栏目：</td>
                            <td><input type="text" class="easyui-combotree" name="ChannelName" id="txtChannelName" style="width:180px;" /><input type="hidden" id="txtChannelID" name="ChannelID" /></td>
                        </tr>
                        <tr>
                            <td style="width:80px;text-align:right;">开始日期：</td>
                            <td><input type="text" name="BeginTime" id="txtBeginTime" value="" /></td>
                            <td style="width:80px;text-align:right;">结束日期：</td>
                            <td><input type="text" name="EndTime" id="txtEndTime" value="" /></td>
                            <td colspan="2"><button type="submit" id="btnSearch"> 搜 索 </button>&nbsp;<button type="button" id="btnReset"> 重 置 </button></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div style="margin:5px 0px 5px 5px;">说明：点击审核状态改变审核状态</div>
            <table width="100%">
                <thead>
                    <tr style="height:22px;">
                        <th width="50px"><a href="javascript:void(0);">菜品ID</a></th>
                        <th><a href="javascript:void(0);">菜品标题</a></th>
                        <th><a href="javascript:void(0);">菜品来源</a></th>
                        <th><a href="javascript:void(0);">所属栏目</a></th>
                        <th width="60px"><a href="javascript:void(0);">菜品作者</a></th>
                        <th width="110px"><a href="javascript:void(0);">发表时间</a></th>
                        <th width="60px"><a href="javascript:void(0);">审核状态</a></th>
                        <th width="60px"><a href="javascript:void(0);">操作</a></th>
                    </tr>
                </thead>
                <tbody id="tbodyContent">
                    @if (Model != null)
                    {
                        if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="8" align="center">没有搜索到数据</td>
                            </tr>
                        }
                        foreach (CMS.Domain.NewsDoc item in Model)
                        {
                            <tr>
                                <td class="a-center">@item.ID</td>
                                <td><a href="@item.Linkurl" target="_blank">@item.Title</a></td>
                                <td align="center">@item.Source</td>
                                <td align="center">@item.ChannelName</td>
                                <td align="center">@item.Author</td>
                                <td align="center">@item.PublicTime.Value.ToString("yyyy-MM-dd HH:mm")</td>
                                <td align="center">@item.AuditingStats</td>
                                <td align="center">
                                    <a href="/news/edit?NewsID=@item.ID">
                                        <img src="@Url.Content("~/Content/img/edit.png")" alt="编辑" title="编辑" width="16" height="16" style="margin-right: 10px;" />
                                    </a>
                                    <a href="javascript:void(0);" onclick="DelNews('@item.ID');">
                                        <img src="@Url.Content("~/Content/img/cancel.png")" alt="删除" title="删除" width="16" height="16" />
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <!--分页样式显示-->
            <div id="pager">@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "PageIndex", PagerItemsSeperator = "", CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>" }, new { id = "flickrpager" })</div>
            @*<div id="divPagination" class="pagination"></div>*@
        </div>
    </div>
    <script src="/Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.pagination.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.dateformat.js" type="text/javascript"></script>
    <!--jQuery Template-->
    <script id="listTemplate" type="text/html">

    </script>
    <script src="/Scripts/page/news.page.js" type="text/javascript"></script>
